body{
	padding: 0;
	margin: 0;
	font-family: cambria;
}
div.modal-content{
	box-shadow: none;
	border-bottom: none;
}
button.close.closefancy > span{
	font-size: 1.3em;	
}
div.modal-body{
	max-height: 74vh;
	overflow: auto;
}
div.modal-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
div.panelitem{
	margin-bottom: 2em;
}
div#tabitem td img{
	width: 2em;
}
div#tabreceiver > div > div,div#tabvoucher > div > div{
	font-size: 1.1em;
}
div#tabreceiver > div > div > span, div#tabvoucher > div > div > span{
	display: inline-block;
	width: 100%;
	font-weight: bold;
	margin-top: 1em;
	font-size: 0.9em;
}
div.creditcard{
	margin-bottom: 2em;
}
div.creditcard > p > i{
	margin-right: 1em;
}
div.paytype{
	font-weight: bold;
}
div.paytype > img{
	width: 3em;
	margin-right: 1em;
}
div.securedby{
	align-content: center;
	text-align: center;
}
div.securedby > img{
	vertical-align: middle;
}
div.grandtotal > span{
	font-weight: normal;
	float: left;
	margin-top: -10px;
	font-size: 0.5em;
}
div.grandtotal{
	text-align: right;
	font-weight: bold;
	font-size: 2em;
}
span.procMsg{
	float: left;
	color: red;
}
@media screen and (max-width: 767px) {
}