@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(../fonts/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(../fonts/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
}
@font-face {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 400;
  src: local('Cambria'), local('Cambria'), url(../fonts/Cambria.ttf) format('truetype');
}
@font-face {
  font-family: 'Vijaya';
  font-style: normal;
  font-weight: 400;
  src: local('Vijaya'), local('Vijaya'), url(../fonts/VIJAYA.ttf) format('truetype');
}