div.logpcontent{
	min-height: 50vh;
	padding-top: 2vh;
}
div.roundborder{
	border: 1px solid #dcdcdc;
	border-radius: 7px;
	padding: 1em;
}
input.password.form-control{
	background-color: #FFFFFF;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
}
p#tokenR{
	display: none;
}
@media screen and (max-width: 767px) {

}