.pointer{
	cursor: pointer;
}
.showonmobile{
	display: none;
}
i.showonmobile.fa.fa-chevron-left{
	display: none;
	margin-right: 10px;
}
/* header navigation */
nav.navbar > .container{
	width: 100%;
	padding: 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
}
.rownavbar{
	border-bottom: 1px solid #000000;
	padding:0 30px 5px 30px;
}
.rownavbar > div{
	height: 80px;
}
.rownavbar > div.hideonmobile > div{
	bottom: 0px;
	position: absolute;
}
.rownavbar > div.hideonmobile > div  img{
	width: 40px;
	height: auto;
}
.rownavbar > div.hideonmobile > div span{
	vertical-align: bottom;
}
.rownavbar > div.hideonmobile > div a:link,.rownavbar > div.hideonmobile > div a:visited{
	color: #333;
}
.rownavbar > div.hideonmobile > div a:hover,.rownavbar > div.hideonmobile > div a:active{
	color: #23527c;
}
.rownavbar a.navbar-brand{
	padding:0;
	float: none;
}
.navbar > .container .navbar-brand{
	margin: 0;
}
.navbar > .container .navbar-brand>img{
	height: 80px;
	width: auto;
}
div.rightheader{
	bottom: 0px;
	right:0px;
	position: absolute;	
}
div.rightheader > img{
	cursor: pointer;
}
div.rightheader	> input[name="searchpolo"]::placeholder {
	color: #000000;
	font-family: cambria;
	font-size: 14px;
}
div.rightheader	> input[name="searchpolo"] {
	padding: 10px 35px 10px 10px;
	margin-bottom: 0;
	background-image: url('../images/icon/magnifier.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #000000;
	width: 95px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
div.rightheader	> input[name="searchpolo"]:focus {
	/* When the input field gets focus, change its width to 100% */
	width: 170px;
}
div.rightheader	> img{
	width: 40px;
	height: auto;
	max-height: 32px;
}
div.rightheader > div.badgecart,div.rightheader > div.badgeuser{
	display: none;
	background-color: #1a4071;
	color: #ffffff;
	padding: 0px 5px;
	border-radius: 25%;
	border: 1px solid #1a4071;
	font-size: 10px;
	margin-left: -19px;
	vertical-align: top;
}
div.rightheader > div.badgecart.active,div.rightheader > div.badgeuser.active{
	display: inline-block;
}
div.accountimage{
	cursor: pointer;
	font-size: 16px;
}
div.rightheader > #login-icon,div.accountimage > img{
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#bs-megadropdown-tabs{
	text-align: center;
	line-height: 1px;
}
#bs-megadropdown-tabs > ul{
	display: inline-block;
	float: none;
}
.headerrowrunningtext{
	background-color: #1a4071;
	color: #FFFFFF;
}
.headerrowrunningtext div.swiper-slide{
	font-family: cambria;
	font-size: 18px;
	padding: 7px 0px;
}
li.dropdown p.promo{
	line-height: 1.5em;
}
/* menu animation */
ul.dropdown-menu.multi > .row{
	margin-top: 1em;
	margin-bottom: 1em;
}
li.dropdown > ul.dropdown-menu.multi{
	display: block;
	overflow-y : hidden;
	max-height : 0;
	padding: 0;
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
li.dropdown.open > ul.dropdown-menu.multi{
	max-height : 80vh;
}
li.dropdown.closed > a,li.nodropdown.closed > a{
	display: none;
}
ul.nav.navbar-nav > li.dropdown.open > a{
	background-image: none;
}
/* li.dropdown.open > a > i.showonmobile.fa.fa-chevron-left{
	display: inline-block;
} */
ul.multi-column-dropdown.open > li.heading{
	background-image: none;
}
ul.multi-column-dropdown.open > li.heading > a > i{
	display: inline-block;
}
ul.multi-column-dropdown.open > li.headingchild{
	display: block;
}
ul.multi-column-dropdown.closed{
	display: none;
}
a.dropdown-toggle.closed{
	display: none;
}
ul.multi-column-dropdown > li.heading,ul.multi-column-dropdown > li.headingchild{
	white-space: nowrap;
	margin-right: 15px;
}
ul.dropdown-menu{
	background-color: rgba(245, 245, 245, 0.9);
}
ul.dropdown-menu.multi.col3width{
	width: 600px;
}
ul.dropdown-menu.multi.col2width{
	width: 400px;
}
ul.dropdown-menu.multi.col1width{
	width: 200px;
}
/* //menu animation */
@media screen and (max-width: 767px) {
	.showonmobile{
		display: block;
	}
	li.dropdown.open > a > i.showonmobile.fa.fa-chevron-left{
		display: inline-block;
	}
	div.rightheader > img {
	    width: 30px;
	    height: auto;
	}
	div#rightheadermobile{
		position: absolute;
		top: 0;
		left: 20vw;
		width: 80vw;
		height: 45px;
	}
	.rownavbar{
		padding: 0;
	}
	div.rightheader > input[name="searchpolo"]{
		background-size: 25px auto;
	}
	button.navbar-toggle {
    	margin-left: 2em;
    	margin-bottom: 0;
    	padding-bottom: 0;
	}
	div.rightheader {
    	right: 10px;
	}
	div.agileheader-topbar {
    	margin-top: 101px;
	}
	div > ul.multi-column-dropdown > li{
		display: none;
		list-style: none;
	}
	div > ul.multi-column-dropdown > li.heading{
		display: block;
	}
	.navbar-default ul.navbar-nav > li > a {
		font-size: 1.4em;
		line-height: normal;
	}
	ul.nav.navbar-nav{
		width: 100%;
	}
	li.dropdown,li.nodropdown{
		text-align: left;
	}
	ul.nav.navbar-nav > li > a, ul.multi-column-dropdown > li{
		height: 44px;
		width: auto;
		background-image: url("../images/menu/background-right-part.jpg");
		background-position: right center;
		background-repeat: no-repeat;
		background-size: auto 44px;
	}
	ul.dropdown-menu.multi{
		padding: 0;
	}
	ul.dropdown-menu.multi div.row > div{
		padding: 0 1px;
	}
	div > ul.multi-column-dropdown li.heading,ul.multi-column-dropdown li.headingchild{
		margin: 0 0 5px 0;
		font-family: Cambria;
		font-size: 1.4em;
		padding: 8px 5px;
	}
	nav.navbar-default .navbar-nav > .open > a, 
	nav.navbar-default .navbar-nav > .open > a:hover, 
	nav.navbar-default .navbar-nav > .open > a:focus, 
	nav.navbar-default .navbar-nav > li > a:hover, 
	nav.navbar-default .navbar-nav > li > a:focus {
		color: #000;
		background-color: #FFF;
	}
	i.hideonmobile.fa.fa-angle-right{
		display: none;
	}
}
/* //header navigation */

/* swiper default (header running text)*/
.swiper-container {
	width: 100%;
	height: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 1em;
	background: #1a4071;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: auto;
	/* overflow: hidden; */
}
.swiper-slide.homepurp img{
	width: 100vw;
	height: auto;
}
.swiper-slide img{
	width: 100%;
	height: auto;
}
/* //swiper default (header running text) */

/* footer section */
.myfooter{
	padding: 0 2em 2em 2em;
	font-family: cambria;
}
.myfooter a:link,.myfooter a:visited{
	color: #333;
}
.myfooter a:hover,.myfooter a:active{
	color: #23527c;
}
.myfooter > .row{
	border:1px solid #909090;
	padding: 15px 5px;
}
.myfooter > .row > div.withpaddingtop{
	padding-top: 4em;
}
div.withpaddingtop > span{
	font-size: 1em;
	font-weight: 600;
}
div.withpaddingtop > img{
	width: 50px;
	height: auto;
	vertical-align: bottom;
}
div.withpaddingtop > ul{
	list-style-type: none;
	margin-top: 10px;
	font-size: 1.1em;
}
.titlefollow,.titlenewsletter{
	font-size: 1em;
	font-weight: 600;
}
.titlefollow{
	line-height: 120px;
}
.footerother > .agilesocialwthree{
	text-align: left;
	margin-top: -50px;
}
.footerother > .newsletter{
	width: 80%;
	margin-bottom: 0;
	background-color: #FFFFFF;
	background-image: url('../images/footer/newsletteremail.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	color: #000000;
	font-size: 1em;
	padding: 15px 65px 5px 15px;
}
@media screen and (max-width: 767px) {
	.myfooter{
		padding: 0 1em 1em 1em;
	}
	.myfooter > .row{
		padding: 5px;
	}
	.myfooter > .row > div.withpaddingtop{
		padding: 0 5px;
	}
	div.withpaddingtop > .hideonmobile{
		display: none;
	}
	div.withpaddingtop > span{
		font-size: 0.8em;
	}
	div.withpaddingtop > img{
		width: 30px;
	}
	div.withpaddingtop > ul{
		font-size: 0.9em;
	}
	.footerother{
		padding-right: 5px;
		padding-left: 5px;
	}
	.titlefollow{
		line-height: 60px;
	}
	.footerother > .agilesocialwthree{
		margin-top: -20px;
	}
	.footerother > .newsletter{
		width: 100%;
	}
}
/* //footer section */

/* language option div @ header */
div.hideonmobile > div.sectionlanguage{
	font-family: Cambria;
	position: absolute;
	top: 91px;
	bottom: unset;
	left: 10px;
	width: 200px;
	max-height: 0px;
	font-size: 15px;
	overflow: hidden;
	-webkit-transition: max-height 0.4s ease-in-out,padding 0.4s ease-in-out;
	-moz-transition: max-height 0.4s ease-in-out,padding 0.4s ease-in-out;
	-o-transition: max-height 0.4s ease-in-out,padding 0.4s ease-in-out;
	transition: max-height 0.4s ease-in-out,padding 0.4s ease-in-out;
}
div.hideonmobile > div.sectionlanguage.active{
	max-height: 100px;
}
div.transparentarrow {
	display: block;
	width: 100%;
	height: 10px;
}
div.transparentarrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(245, 245, 245, 0.9);
}
div.sectionlanguage > div.transparentarrow > div.transparentarrow-up{
	margin-left: 15px;
}
ul.languageopt{
	width: 100%;
	list-style-type: none;
	background-color: rgba(245, 245, 245, 0.9);
	padding: 10px;
	line-height: 1.5em;
}
ul.languageopt > li{
	cursor: pointer;
}
ul.languageopt > li > i{
	visibility: hidden;
	margin-right: 10px;
}
ul.languageopt > li.active,ul.languageopt > li.hovering{
	font-weight: bold;
}
ul.languageopt > li.active > i,ul.languageopt > li.hovering > i{
	visibility: visible;
}
/* //language option div @ header */
/* login section */
div.sectionlogin{
	font-family: Cambria;
	font-size: 14px;
	position: absolute;
	top: 91px;
	right: 10px;
	width: 35%;
	height: auto;
	max-height: 0px; 
	overflow: hidden;
	z-index: 1001;
	-webkit-transition: max-height 0.4s ease-in-out;
	-moz-transition: max-height 0.4s ease-in-out;
	-o-transition: max-height 0.4s ease-in-out;
	transition: max-height 0.4s ease-in-out;
}
div.sectionlogin.active{
	max-height: 550px;
}
div.sectionlogin > div.transparentarrow > div.transparentarrow-up{
	float: right;
	margin-right: 73px;
}
div.accountopt{
	font-family: Cambria;
	font-size: 14px;
}
div.loginopt,div.accountopt{
	background-color: rgba(245, 245, 245, 0.9);
	padding: 20px;
	width: 100%;
}
div.accountimage > img{
	vertical-align:middle;
	width: 25%;
	height: auto;
	margin-right: 5px;
}
div.logintitle{
	font-size: 15px;
	margin-bottom: 8px;
}
div.loginacc > input{
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 5px;
	border: 1px solid #ddd;
}
div.loginacc > input[name="passretypelogin"]{
	display: none;
}
div.loginacc > input::placeholder{
	color: #848484;
}
div.loginacc > input::-webkit-input-placeholder{
	color: #848484;
}
div.loginacc > input::-moz-placeholder{
	color: #848484;
}
div.loginacc > input:-ms-input-placeholder{
	color: #848484;
}
div.loginacc > input:-moz-placeholder{
	color: #848484;
}
div.loginopt a{
	transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;	
}
div.loginopt a:link, div.loginopt a:visited {
    text-decoration: underline;
}
div.loginopt a:hover, div.loginopt a:active {
    color: #1a4071;
}
div.logintext > label{
	display: inline-block;
}
div.logintext > label > span{
	vertical-align: super;
	font-weight: normal;
	margin-left: 5px;
}
div.logintext > a{
	float: right;
	margin-top: 3px;
}
div.loginor > div{
	display: inline-block;
	margin: 15px 0px;
}
div.loginor > div:nth-child(1),div.loginor > div:nth-child(3){
	border-bottom: 1px solid #ddd;
	height: 12px;
	width: 40%;
	vertical-align: top;
}
div.loginor > div:nth-child(2){
	text-align: center;
	width: 17%;
}
div.loginsignup,div.loginbackpage{
	text-align: center;
	margin-top: 15px;
}
div.loginbackpage{
	font-size: 15px;
	padding-bottom: 15px;
	display: none;
}
div.loginbackpage i{
	margin-right: 8px;
}
div.loginaccbutton,div.loginother > div,div.accountsignout{
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	-webkit-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
}
div.loginaccbutton,div.accountsignout{
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	padding: 6px;
}
div.loginaccbutton:hover, div.loginother > div:hover,div.accountsignout:hover{
    background-color: #e5e5e5;
	color: #1a4071;
}
div.loginother > div{
	width: 47%;
	margin-right: 5px;
	display: inline-block;
}
div.loginother{
	text-align: center;
	padding: 0 10px;
}
div.loginother > div > img{
	width: 22px;
	height: auto;
	margin-right: 8px;
}
div.accountlink > div{
	margin-top: 3px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0);
	color: #337ab7;
	cursor: pointer;
	padding: 5px;
	font-size: 16px;
	-webkit-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out,padding 0.4s ease-in-out;
}
div.accountlink > div:hover{
    background-color: rgba(255, 255, 255, 0.3);
	color: #1a4071;
}
div.accountlink > div > span{
	float: right;
}
/* //login section */
/* cart section */
div.sectioncart{
	font-family: Cambria;
	font-size: 14px;
	position: absolute;
	top: 91px;
	right: 10px;
	width: 35%;
	height: auto;
	max-height: 0vh;
	overflow: hidden;
	z-index: 1001;
	-webkit-transition: max-height 0.4s ease-in-out;
	-moz-transition: max-height 0.4s ease-in-out;
	-o-transition: max-height 0.4s ease-in-out;
	transition: max-height 0.4s ease-in-out;
}
div.sectioncart.active{
	max-height: 80vh;
}
div.sectioncart > div.transparentarrow > div.transparentarrow-up{
	float: right;
	margin-right: 27px;
}
div.cartopt{
	background-color: rgba(245, 245, 245, 0.9);
	padding: 20px;
	width: 100%;
	max-height: 61vh;
	overflow: auto;
}
div.cartitem{
	padding: 10px 0px;
	border-bottom: 1px solid #bfbfbf;
}
div.cartitemimg{
	width: 25%;
	display: inline-block;
}
div.cartitemimg > img{
	width: 100%;
	height: auto;
}
div.cartitemdesc{
	width: 65%;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0px 0px 20px;
}
div.cartitemdesc > p {
	margin-bottom: 5px;
}
div.cartitemdesc > p:nth-child(1){
	font-weight: bold;
}
div.cartitemdesc > p > img{
	width: 30px;
	height: auto;
}
div.cartitemdel{
	width: 10%;
	display: inline-block;
	text-align: center;
}
div.cartfooter{
	height: 19vh;
	background-color: rgba(245, 245, 245, 0.9);
	padding: 20px;
	width: 100%;
}
div.cartfooter > div.subtotal{
	margin-bottom: 15px;
}
div.cartfooter > div.subtotal > span{
	float: right;
	font-weight: bold;
}
div.viewcartbutton{
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
div.viewcartbutton:hover {
    background-color: #e5e5e5;
	color: #1a4071;
}
@media screen and (max-width: 767px) {
	div.sectionlogin, div.sectioncart {
		width: 95%;
    	top: 50px;
	}
	div.sectioncart > div.transparentarrow > div.transparentarrow-up {
	    margin-right: 6px;
	}
	div.sectionlogin > div.transparentarrow > div.transparentarrow-up {
	    margin-right: 40px;
	}
}
/* //cart section */

/* no allow for landscape on mobile */
div.nomobilelandscape{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #1a4071;
	z-index: 2000;
	padding: 25vh 10vw;
}
div.nomobilelandscape > div.nomobilelandscape-img{
	width: 40%;
	margin-left: 10%;
	float: left;
}
div.nomobilelandscape > div.nomobilelandscape-word{
	width: 50%;
	float: left;
}
div.nomobilelandscape > div.nomobilelandscape-img > img{
	height: 50vh;
	width: auto;
}
div.nomobilelandscape > div.nomobilelandscape-word > p{
	font-size: 2em;
	color: #ffffff;
	margin-top: 5vh;
}
div.nomobilelandscape > div.nomobilelandscape-word > p:nth-child(2){
	font-size: 1.3em;
}
@media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 600px)  {
	div.nomobilelandscape{
		display: block;
	}
}
/* //no allow for landscape on mobile */
/* Draft mode */
div.drafton{
	display: block;
	position: fixed;
	top: 50vh;
	right: -45px;
	width: 120px;
	height: 35px;
	z-index: 9999;
	background-color: #000000;
	color: #FFFFFF;
	transform: rotate(-90deg);
	padding: 5px;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	font-weight: bold;
}
/* //Draft mode */