.swiper-container.Thumbs {
	width: 25%;
	height: 70vh;
	float: left;
	padding-right: 5px;
}
.Thumbs .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100%;
	height: auto;
	display: block;
	
	border: solid 1px #000000;
}
.swiper-container.Gallery {
	width: 75%;
	height: 70vh;
	float: left;
}
.Gallery .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100%;
	height: auto;
	display: block;
}
i.fa.zoombutton {
	position: absolute;
	bottom: 10px;
	right: 20px;
	z-index: 3;
	font-size: 3em;
	color: #007aff;
	
	opacity: 0.6; /* standard: ff gt 1.5, opera, safari */
	-ms-filter: “alpha(opacity=60)”; /* ie 8 */
	filter: alpha(opacity=60); /* ie lt 7 */
	-khtml-opacity: .6; /* safari 1.x */
	-moz-opacity: .6; /* ff lt 1.5, netscape */
}
.productmagnifier {
	position: absolute;
	color: #FFFFFF;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70vh;
	display: none;
	z-index: 2;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 90vw auto;
}
ul.nav.nav-tabs{
	margin-top: 1em;
}
ul.nav.nav-tabs .dropdown-menu{
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
}
ul.nav.nav-tabs .dropdown-menu > li > a{
	background-color: #f6f6f6;
}
ul.nav.nav-tabs .dropdown-menu > li > a:hover{
	background-color: #FFFFFF;
}
div.tab-content div.tab-pane.fade{
	padding: 15px;
}
img.prodcare{
	width: 50px;
	height: auto;
}
ul.nav.nav-tabs li.showonmobile{
	display:none;
}
ul.nav.nav-tabs li.hideonmobile{
	display:block;
}
div.single_left h3, div.det_nav1 h4, p, a, span{
	font-family: Cambria;
}
div.single_left h3, div.det_nav1 h4{
	text-align: left;
}
p.price{
	font-size: 1.5em;
	margin-top: 10px;
	color: #000000;
}
img.multiopt,div.multiopt{
	border-radius: 15%;
	padding: 1px;
	border: 2px solid #FFFFFF;
	min-width: 35px;
	width: auto;
	height: 35px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
div.multiopt{
	line-height: normal;
	border-radius: 6px;
	padding: 6px;
}
img.multiopt.active,div.multiopt.active{
	border: 2px solid #000000;
}	
@media screen and (max-width: 767px) {
	.productmagnifier {
		background-size: 150vw auto;
	}
	ul.nav.nav-tabs li.showonmobile{
		display:block;
	}
	ul.nav.nav-tabs li.hideonmobile{
		display:none;
	}
}

/* popup search in store */
div.popup-outer{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	display: none;
}
div.popup-inner,div.loading{
	width: 50vw;
	height: 70vh;
	position: absolute;
	left: 25vw;
	top: 15vh;
	background-color: #FFFFFF;
	padding: 5% 3%;
}
div.loading{
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: none;
}
div.loading > div{
	background-color: #FFFFFF;
	color: #000000;
	display: inline-block;
	padding: 5px;
	margin: 22vh 19vw;
}
div.popup-inner > .popup-row{
	overflow: auto;
	height: 96%;
	width: 100%;
	margin-top: 4%;
}
div.popup-inner > span{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}
div.popup-contentright > p{
	margin-bottom: 10px;
}
div.popup-contentright input,
div.popup-contentright select,
div.popup-contentright button{
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
	font-family: Cambria;
	font-size: 14px;
	padding: 10px;
}
div.popup-contentright input{
	width: 100%;
}
div.popup-contentright button{
	width: 100%;
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
div.popup-contentright button:hover{
	background-color: #e5e5e5;
	color: #1a4071;
}
div.popup-contentright select{
	width: 38%;
}
div.popup-contentright input::placeholder{
	color: #000000;
    opacity: 1;
}
div.popup-contentright input::-webkit-input-placeholder{
	color: #000000;
}
div.popup-contentright input:-moz-placeholder{
	color: #000000;
}
div.popup-contentright input:-ms-input-placeholder{
	color: #000000;
}
@media screen and (max-width: 767px) {
	div.popup-inner,div.loading {
	    width: 90vw;
	    left: 5vw;
	}
	div.popup-contentright input {
		width: 100%;
	}
	div.popup-contentright select {
		width: 100%;
		margin-bottom: 15px;
	}
}
div.popup-contentright select,div.popup-contentright input,div.popup-contentright button{
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
div.popup-contentright input.secondstep{
	width: 64%;
}
div.popup-contentright select.secondstep{
	width: 25%;
}
div.popup-contentright button.secondstep{
    width: 35%;
}
div.resultsearchinstore > div.outletlist > div{
	background-color: #e6e7e9;
	padding: 15px;
	border-radius: 0.3em;
	min-height: 110px;
	margin: 5px;
}
/* // popup search in store */
@media screen and (max-width: 767px) {
	.btn_form a:nth-child(2){
		padding: 10px 25px;
	}
	.btn_form a:nth-child(3){
		padding: 10px 10px;
	}
	.btn_form a{
		width: 48%;
		margin-left: 2%;
	}
	div.popup-contentright input.secondstep {
		width: 65%;
	}
	div.popup-contentright select.secondstep {
		width: 33%;
	}
	div.popup-contentright button.secondstep {
	    width: 100%;
	    margin-bottom: 15px;
	}
}
