div.aboutdiv > img{
	margin-top: 15px;
	width: 100%;
	height: auto;
}
div.aboutcontent{
	padding: 5vh 10vw; 
}
div.aboutcontent p{
	margin: 2em;
	font-size: 1.3em;
	text-align: justify;
}
@media screen and (max-width: 767px) {
	div.aboutcontent{
		padding: 5vh 5vw; 
	} 
}