div.cartsection{
	margin: 1em 0px;
	width: 100%;
	display: inline-block;
}
div.cartsection > div.detail{
	padding-left: 4vw;
	padding-right: 4vw;
	margin-bottom: 2em;
}
div.detail > h3{
	text-align: left;
	margin-bottom: 15px;
	font-size: 19px;
}
p.danger{
	color: #ff4b4b;
}
p.forprice{
	text-align: left;
	color: #ff4b4b;
}
p > span.strightout{
	font-size: 13px;
	text-decoration: line-through;
	margin-right: 10px;
	color: #777;
}
div.cartsection > div.detail > div.cartitem:nth-child(2) {
	border-top: 1px solid #bfbfbf;
}
div.cartitemdesc > p > i.fa.fa-pencil,div.cartitemdesc > p > i.fa.fa-times{
	font-size: 1.7em;
	margin: 0px 16px;
	vertical-align: middle;
}
div.cartitemdesc > p > i.fa.fa-times{
	border-left: 1px solid #bfbfbf;
	margin: 0px;
	padding-left: 16px;
}
div.cartitemdesc.cartpage{
	width: 50%;
}
div.cartitemqty.cartpage{
	width: 15%;
	display: inline-block;
	text-align: center;
}
div.cartitemdel.cartpage{
	width: 10%;
}
div.cartitemdel.cartpage > i{
	font-size: 1.7em;
	color: #777;
}
.floatright{
	float: right;
}
.hidden{
	display: none;
}
/* right div (checkout process) */
div.checkout{
	padding-left: 0px;
	padding-right: 4vw;
	margin-bottom: 2em;
}
div.checkout > div.co-promo,div.checkout > div.co-address,div.checkout > div.courier,
div.checkout > div.payment,div.checkout > div.co-comment{
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	font-size: 1.2em;
	/* font-weight: bold; */
	padding: 1vh 2vw;
	margin: -1px 0 0 0;
}
div.checkout > div.co-comment > textarea{
	width: 100%;
	height: 3em;
}
div.co-promo > div.co-head,div.co-promo > div.co-promo-result > i,
div.payment > div.payment-head,div.payment > div.payment-result > i{
	cursor: pointer;
}
div.co-promo > div.co-promo-result,
div.co-address > div.shipmentinfo,
div.courier > div.courierinfo,
div.payment > div.payment-result{
	font-size: 14px;
	font-weight: normal;
}
div.co-promo > div.co-head > i,
div.payment > div.payment-head > i{
	float: right;
	margin-top: 7px;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
div.co-promo.active > div.co-head > i,
div.payment.active > div.payment-head > i{
	transform: rotate(180deg);
}
div.co-promo > div.co-promo-result > i,
div.payment > div.payment-result > i{
	margin-left: 7px;
}
div.codeform,
div.paymentform{
	width: 100%;
	height: auto;
	overflow: hidden;
	max-height: 0vh;
	-webkit-transition: max-height 0.4s ease-in-out,padding-bottom 0.4s ease-in-out;
	-moz-transition: max-height 0.4s ease-in-out,padding-bottom 0.4s ease-in-out;
	-o-transition: max-height 0.4s ease-in-out,padding-bottom 0.4s ease-in-out;
	transition: max-height 0.4s ease-in-out,padding-bottom 0.4s ease-in-out;
	padding: 0px 2vw;
}
div.codeform.active,
div.paymentform.active{
	max-height: 50vh;
	padding-bottom: 25px;
}
div.codeform > p{
	margin: 5px 0px;
}
div.codeform > input[name="promocode"]{
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 5px;
	border: 1px solid #ddd;
	padding: 15px;
	width: 100%;
	outline: none;
	font-size: 14px;
}
div.codeform > input[name="promocode"]::placeholder{
	color: #848484;
}
div.codeform > input[name="promocode"]::-webkit-input-placeholder{
	color: #848484;
}
div.codeform > input[name="promocode"]::-moz-placeholder{
	color: #848484;
}
div.codeform > input[name="promocode"]:-ms-input-placeholder{
	color: #848484;
}
div.codeform > input[name="promocode"]:-moz-placeholder{
	color: #848484;
}
div.codeform > div.promobutton,div.paybutton{
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	padding: 6px;
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
}
div.codeform > div.promobutton:hover,div.paybutton:hover{
	background-color: #FFFFFF;
	color: #1a4071;
}
div.co-address > div.changeaddressbutton,div.co-address > div.addaddressbutton,
div.courier > div.changecourierbutton{
	width: 50%;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
}
div.courier > div.changecourierbutton{
	width: 100%;
}
div.changeaddressbutton > span,div.addaddressbutton > span,div.changecourierbutton > span{
	cursor: pointer;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}
div.changeaddressbutton > span:hover,div.addaddressbutton > span:hover,div.changecourierbutton > span:hover{
	color: #1a4071;
}
/* popup window */
div.popupwin{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1050;
	cursor: pointer;
}
div.popupwin.active{
	display: block;
}
div.popupwin > i.popupclose{
	position: absolute;
	top: 7vh;
	right: 9vw;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 6px solid #1a4071;
	background-color: #FFFFFF;
	z-index: 1052;
	font-size: 19px;
	color: #1a4071;
	text-align: center;
	line-height: 22px;
}
div.popupwin > div.popupcontent{
	width: 80vw;
	height: 80vh;
	position: absolute;
	top: 10vh;
	left: 10vw;
	background-color: #FFFFFF;
	border-radius: 0.4em;
	border: 1px solid #FFFFFF;
	padding: 2vh 2vw;
	z-index: 1051;
	cursor: default;
	overflow: auto;
}
div.newaddress{
	display: none;
}
div.newaddress.active{
	display: block;
}
div.newaddress > form > div{
	margin-bottom: 15px;
}
div.newaddress div.givespace{
	border-bottom: 1px solid #aaaaaa;
}
form > div > label{
	color: #717171;
	font-weight: normal;
}
input#addrid{
	margin-bottom: 15px;
}
span.select2.select2-container.select2-container--default{
	width: 100%;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px;
    padding: 10px;
    line-height: inherit;
    height: inherit;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000000;
	font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 13px;
}
/* div.popupcontent select{
	width: 100%;
} */
div.popupcontent textarea{
	width: 100%;
	padding: 10px;
}
div.popupcontent input{
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 5px;
	border: 1px solid #aaa;
}
div.popupcontent input::placeholder,div.popupcontent textarea::placeholder{
	color: #848484;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
div.popupcontent input::-webkit-input-placeholder,div.popupcontent textarea::-webkit-input-placeholder{
	color: #848484;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
div.popupcontent input::-moz-placeholder,div.popupcontent textarea::-moz-placeholder{
	color: #848484;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
div.popupcontent input:-ms-input-placeholder,div.popupcontent textarea:-ms-input-placeholder{
	color: #848484;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
div.popupcontent input:-moz-placeholder,div.popupcontent textarea:-moz-placeholder{
	color: #848484;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
div.addrsave,div.addrcancel,div.crrcancel{
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	-webkit-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	text-align: center;
}
div.addrsave:hover,div.addrcancel:hover,div.crrcancel:hover{
	background-color: #e5e5e5;
	color: #1a4071;
}
div.existingaddress{
	display: none;
}
div.existingaddress.active{
	display: block;
}
div.existingaddress > table,div.popupcourier table{
	width: 100%;
	margin: 20px 0px;
}
table > tbody > tr.addrrow,table > tbody > tr.crrrow{
	border-bottom: 1px solid #aaa;
}
div.existingaddress tr.addrrow > td.addrusethis{
	width: 90%;
	padding: 15px 0px 15px 15px;
}
div.existingaddress tr.addrrow > td.addrdelthis{
	width: 10%;
	text-align: center;
}
td.addrusethis,td.addrdelthis > i,div.popupcourier tr.crrrow{
	cursor: pointer;
}
div.popupcourier tr.crrrow.nodata{
	cursor: default;
}
div.existingaddress tr.addrrow > td{
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}
div.existingaddress tr.addrrow > td:hover{
	color: #1a4071;
}
div.popupcourier tr.crrrow:hover > td{
	color: #1a4071;
}
div.popupcourier tr.crrrow > td.crrusethis{
	width: 60%;
	padding: 15px 0px 15px 15px;
}
div.popupcourier tr.crrrow > td.crrestweight{
	width: 20%;
}
div.popupcourier tr.crrrow > td.crrcost{
	width: 20%;
}
/* payment method */
div.payment-result > img{
	width: 35px;
	height: auto;
	margin: 0px 5px 0px 10px;	
}
div.paymentform.active{
	border-bottom: 1px solid #bfbfbf;	
}
div.paymentform > p > img{
	width: 45px;
	height: auto;
	margin: 0px 10px;
}
div.paymentform > p{
	margin: 10px 0px;
	cursor: pointer;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
div.paymentform > p:hover{
	background-color: #e5e5e5;
}
/* summaries */
div.headbold,div.headredbold{
	padding: 1vh 2vw;
	font-size: 1.2em;
	/* font-weight: bold; */
}
div.headbold > span,div.headredbold > span{
	float: right;
}
div.headredbold > span{
	color: #FF6565;
}
div.fancybox-inner{
	border-radius: 7px;	
}
@media screen and (max-width: 767px) {
	div.popupwin > i.popupclose {
    	right: 5vw;
	}
	div.checkout {
    	padding-left: 4vw;
	}
}