div.descpromo{
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	margin-top: 1px;
}
div.descpromo > h3{
	background-color: #1a4071;
	color: #ffffff;
	text-align: left;
	padding: 10px 30px;
	font-style: italic;
}
div.descpromo > img{
	width: 98%;
}
div.descpromo > div.description{
	width: 94%;
	text-align: left;
	margin-left: 6%;
	overflow: hidden;
	min-height: 30vh;
	max-height: 30vh;
	-webkit-transition: max-height 0.8s ease-in-out;
	-moz-transition: max-height 0.8s ease-in-out;
	-o-transition: max-height 0.8s ease-in-out;
	transition: max-height 0.8s ease-in-out;
}
div.descpromo > div.description.active {
    max-height: 300vh;
}
div.descpromo > p.readmore{
	cursor: pointer;
	margin: 10px 0 30px 0;
}
div.descpromo > p.readmore > i{
	margin-left: 5px;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-moz-transition: -moz-transform 0.4s ease-in-out;
	-o-transition: -o-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
div.descpromo > p.readmore.active > i{
	-webkit-transform: -webkit-rotate(180deg);
	-moz-transform: -moz-rotate(180deg);
	-o-transform: -o-rotate(180deg);
	transform: rotate(180deg);
}
div.infopromo{
	padding: 30px 15px;
}
div.infopromo > div{
	margin: 10px 0;
	border: 1px solid;
	text-align: center;
	padding: 10px;
	font-size: 18px;
}
div.infopromo > div:nth-child(2) > img{
	width: 50px;
	height: auto;
}
div.infopromo > div:nth-child(2) > p:nth-child(2){
	font-size: 16px;
}
div.infopromo > div:nth-child(3) img{
	width: 30px;
	height: auto;
	margin-bottom: 4px;
}
div.infopromo > div:nth-child(3) > div.row{
	margin: 10px 0;	
}
div.infopromo > div:nth-child(3) > div.row > div {
    display: inline;
    border: 1px solid;
    padding: 10px 20px;
}
div.cekbutton{
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
div.cekbutton:hover {
    background-color: #e5e5e5;
	color: #1a4071;
}
@media screen and (max-width: 767px) {

}