/* quick menu section */
div.agileshoppinggrid{
	cursor: pointer;
	padding: 0;
}
div.agileshoppinggrid figure{
	width: 100%;
	border: 5px solid #1a4071;	
}
div.agileshopping .grid1{
	text-align: center;
	margin-top: -5px;
	font-family: Cambria;
	font-size: 1.5em;
}
.grid1 a:link, .grid1 a:visited{
	text-decoration: underline;
	color: #4d4d4d;
}
.grid1 a:hover, .grid1 a:active{
	text-decoration: underline;
	color: #1a4071;
}
@media screen and (max-width: 767px) {
	div.quickmenurow{
		margin-top: -25px;
	}
	div.agileshopping{
		padding-bottom: 0;
		padding-top: 25px;
	}
	.agileshopping > .agileshoppinggrid1{
		width: 100%;
	}
	#lineheightzero{
		line-height: 0;
	}
}
/* //quick menu section */

/* seasons style section */
.seasonstrend{
	padding: 2em;
}
.seasonstrend > h2{
	font-family: 'Cambria';
	font-size: 3em;
	margin-bottom: 0.2em;
}
.seasonstrend > .agileshopping{
	padding: 2em;
	border:1px solid #909090;
}
.seasonstrend > #explorenow{
	position: absolute;
	bottom: 60px;
	right: 5em;
}
/* popup window center */
div.pwcenter{
	position: fixed;
	width: 50vw;
	top: 25vh;
	left: 25vw;
	z-index: 2000;
	display: block;
	border: 1px solid;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
}
div.pwcenter > div:nth-child(1){
	margin-top: 3vh;
}
div.pwcenter > div:nth-child(1) > p{
	color: #000000;
}
div.pwcenter > div:nth-child(1) > p:nth-child(3){
	font-size: 3em;
}
div.pwcenter img{
	width: 70px;
	height: auto;
}
div.pwcenter > div:nth-child(2){
	margin-top: 20px;
	margin-bottom: 3vh;
}
div.pwcancel,div.pwagree{
	width: 35%;
	border: 1px solid;
	border-radius: 7px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}
div.pwcancel > div,div.pwagree > div{
	border: 1px solid;
	border-radius: 7px;
	min-height: 62px;
	padding: 10px;
	border-style: dashed;
}
div.pwagree{
	/* background-color: #1a4071;
	color: #ffffff; */
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
div.pwcancel{
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
}
div.pwagree:hover,div.pwcancel:hover {
    /* background-color: #e5e5e5;
    color: #1a4071; */
    background-color: #1a4071;
	color: #ffffff;
}
/* //popup window center */
/* video section */
div.videosection{
	margin: 1em 0;	
}
div.videosection p{
	font-size: 3em;
	font-style: italic;
	color: #000;	
}
div.videosection i{
	font-style: italic;
}
/* //video section */

@media screen and (max-width: 767px) {
	.seasonstrend{
		padding: 1em;
	}
	.seasonstrend > h2{
		font-size: 1.8em;
	}
	.seasonstrend > .agileshopping{
		padding: 0.5em;
		display: inline-block;
	}
	.seasonstrend > #explorenow {
	    bottom: 25px;
	    right: 25px;
	}
	/* popup window center */
	div.pwcenter{
		width: 90vw;
		left: 5vw;
	}
	div.pwcenter > div:nth-child(1) > p:nth-child(3) {
	    font-size: 2em;
	}
	/* //popup window center */
	/* video section */
	div.row videosection{
		width: 100%;
	}
	/* //video section */
}
/* //seasons style section */