div.containerdiff{
	border-top: 1px solid;
	padding: 10px 40px;
}
a.detbutton{
	margin-right: 5px;
}
div.productinformation h4{
	text-align: left;
	margin: 10px 0px;
}
div.productinformation > div > div:nth-child(2){
	border-left: 2px solid;
}
div.relatedproduct{
	margin-bottom: 3em;	
}
div.relatedproduct > div.row{
	padding: 0 10vw;
}
div.relatedproduct h5{
	margin: 1em 0 2em 0;
}
div.containerdiff.relatedproduct > div.row > div > div {
	width: 10vw;
	display: inline-block;
	border: 1px solid #8f8f8f;
}
div.relatedproduct > div.row > div{
	text-align: center;
}
div.relatedproduct h5{
	font-size: 16px;
	color: #828282;
}
div.relatedproduct p.title{
	font-size: 16px;
	margin-top: 5px;	
}
div.relatedproduct p.price{
	font-size: 16px;
	margin-top: 0;
}
div.productinformation img{
	width: 10%;
	height: auto;
}
div.productinformation ul,div.productinformation ol{
	margin: 0 15px;
}
@media screen and (max-width: 767px) {
	div.women_main{
	    padding: 0;
	}
	div.col-md-12.det{
		padding-right: 0;
		padding-left: 0;
	}
	div.containerdiff.productinformation{
		padding: 10px 20px;
	}
	div.btn_form > form > a.detbutton{
		width: 47%;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	div.productinformation > div > div{
		padding-left: 0;
		padding-right: 0;
	}
	div.productinformation > div > div:nth-child(2) {
		border-left: none;
	}
	div.containerdiff.relatedproduct > div.row > div > div {
	    width: 35vw;
	}
	div.containerdiff.relatedproduct p.price {
	    margin-bottom: 10px;
	}
}