/* quick menu section */
div.agileshoppinggrid{
	cursor: pointer;
	padding: 0;
}
div.agileshoppinggrid figure{
	width: 100%;
	border: 5px solid #1a4071;	
}
div.agileshopping .grid1{
	text-align: center;
	margin-top: -5px;
	font-family: Cambria;
	font-size: 1.5em;
}
.grid1 a:link, .grid1 a:visited{
	text-decoration: underline;
	color: #4d4d4d;
}
.grid1 a:hover, .grid1 a:active{
	text-decoration: underline;
	color: #1a4071;
}
@media screen and (max-width: 767px) {
	div.quickmenurow{
		margin-top: -25px;
	}
	div.agileshopping{
		padding-bottom: 0;
		padding-top: 25px;
	}
	.agileshopping > .agileshoppinggrid1{
		width: 100%;
	}
	#lineheightzero{
		line-height: 0;
	}
}
/* //quick menu section */

/* seasons style section */
.seasonstrend{
	padding: 2em;
}
.seasonstrend > h2{
	font-family: 'Cambria';
	font-size: 3em;
	margin-bottom: 0.2em;
}
.seasonstrend > .agileshopping{
	padding: 2em;
	border:1px solid #909090;
}
.seasonstrend > #explorenow{
	position: absolute;
	bottom: 60px;
	right: 5em;
}
@media screen and (max-width: 767px) {
	.seasonstrend{
		padding: 1em;
	}
	.seasonstrend > h2{
		font-size: 1.8em;
	}
	.seasonstrend > .agileshopping{
		padding: 0.5em;
		display: inline-block;
	}
	.seasonstrend > #explorenow {
	    bottom: 25px;
	    right: 25px;
	}
}
/* //seasons style section */