div.regulationhead > img{
	margin-top: 15px;
	width: 100%;
	height: auto;
}
div.regulationbody{
	margin-bottom: 15px;	
}
ol.regulationbreadcrumb{
	width: 100%;
	margin-top: 20px;
}
ol.regulationbreadcrumb > li{
	display: inline-block;
	font-weight: bold;
}
ol.regulationbreadcrumb > li.active{
	font-weight: normal;
}
ol.regulationbreadcrumb > li > i.fa.fa-angle-right{
	margin-right: 15px;
	margin-left: 20px;
	font-weight: normal;
}
ol.regulationbreadcrumb > li.showonmobile{
	display: none;
	float: right;
}
ol.regulationbreadcrumb > li.showonmobile > i{
	font-weight: bold;
	font-size: 20px;
	margin-top: -2px;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
ol.regulationbreadcrumb > li.showonmobile.open > i{
	transform: rotate(180deg);
}
div.regulationcategory{
	width: 35%;
	border-right: 1px solid #e5e5e5;
	padding-left: 40px;
	display: inline-block;
}
div.regulationcontent{
	width: 64%;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 10px 5px 10px 15px;
	border-left: 1px solid #e5e5e5;
	margin-left: -1px;
}
div.regulationcontent > div{
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
	-moz-transition: max-height 0.6s ease-in-out;
	-o-transition: max-height 0.6s ease-in-out;
	transition: max-height 0.6s ease-in-out;
}
div.regulationcontent > div.active{
	max-height: 100vh;
}
div.regulationcontent > div.active.finish{
	max-height: none;
	overflow: visible;
}
div.catParent{
	font-weight: bold;
	margin: 5px 0px;
}
div.catChild{
	padding-left: 30px;
	cursor: pointer;
	transition: color 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out;
}
div.catChild:hover, div.catChild.active{
	text-decoration: underline;
	color: #23527c;
}
div.contact > label{
	color: #717171;
	font-weight: normal;
}
div.contact > input,div.contact > textarea{
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 5px;
	border: 1px solid #aaa;
	padding: 15px;
	width: 100%;
	/* font-family: 'Montserrat', sans-serif; */
	/* font-size: 11px; */
}
div.contact > input::placeholder,div.contact > textarea::placeholder{
	color: #848484;
}
div.contact > input::-webkit-input-placeholder,div.contact > textarea::-webkit-input-placeholder{
	color: #848484;
}
div.contact > input::-moz-placeholder,div.contact > textarea::-moz-placeholder{
	color: #848484;
}
div.contact > input:-ms-input-placeholder,div.contact > textarea:-ms-input-placeholder{
	color: #848484;
}
div.contact > input:-moz-placeholder,div.contact > textarea:-moz-placeholder{
	color: #848484;
}
span.select2.select2-container.select2-container--default{
	width: 100%;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px;
    padding: 10px;
    line-height: inherit;
    height: inherit;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000000;
	font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 13px;
}
div.contact{
	margin: 7px 0px;
}
div.contact > textarea{
	width: 100%;
}
div.contact > div.contactsend{
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	padding: 6px;
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out,color 0.4s ease-in-out;
}
div.contact > div.contactsend:hover{
	background-color: #FFFFFF;
	color: #1a4071;
}
/* 
color: #848484;
font-family: 'Montserrat', sans-serif;
font-size: 11px; */
@media screen and (max-width: 767px) {
	ol.regulationbreadcrumb{
		cursor: pointer;
	}
	ol.regulationbreadcrumb > li.showonmobile{
		display: inline-block;
	}
	div.regulationcategory.hideonmobile{
	    width: 100%;
	    border-right: none;
	    max-height: 0px;
	    height: auto;
	    overflow: hidden;
	    -webkit-transition: max-height 0.4s ease-in-out;
		-moz-transition: max-height 0.4s ease-in-out;
		-o-transition: max-height 0.4s ease-in-out;
		transition: max-height 0.4s ease-in-out;
	}
	div.regulationcategory.hideonmobile.open{
		max-height: 200vh;
	}
	div.regulationcontent {
    	width: 100%;
    	border-left: none;
	}
}