.maincontent{
	min-height: 50vh;
	padding: 2em 28px;
	font-family: cambria;
}
.titlepage{
	font-size: 3em;
	font-weight: 600;
}
.subtitlepage{
	font-size: 1.5em;
}
.maincontent .divform{
	margin-top: 3em;
	margin-bottom: 3em;
}
.maincontent .inputsearch{
	width: 69%;
	float: left;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #a7a7a7;
	margin-right: 1%;
	color: #000000;
	font-size: 1em;
	padding: 5px 15px;
}
.maincontent .submitsearch{
	width: 30%;
	float: left;
	height: 40px;
	/* background-image: url('../images/icon/magnifier.png'); */
	background-position: center center;
	background-repeat: no-repeat;
	font-family: cambria;
	border: 1px solid #1a4071;
	background-color: #1a4071;
	color: #FFFFFF;
}
.maincontent .submitsearch:hover{
	background-color: #e5e5e5;
	color: #1a4071;
}
.maincontent input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a7a7a7;
	font-family: cambria;
}
.maincontent input::-moz-placeholder { /* Firefox 19+ */
	color: #a7a7a7;
	font-family: cambria;
}
.maincontent input:-ms-input-placeholder { /* IE 10+ */
	color: #a7a7a7;
	font-family: cambria;
}
.maincontent input:-moz-placeholder { /* Firefox 18- */
	color: #a7a7a7;
	font-family: cambria;
}
.resultsearch > div > div{
/* 	background-color: #e6e7e9; */
	padding: 15px;
	border: 1px solid;
	/* border-radius: 0.3em; */
}
.resultsearch > div > div > h3{
	text-align: left;
	margin-bottom: 5px;
}
.resultsearch > div{
	margin-bottom: 15px;
}
div.resultsearch img{
	width: 60%;
	display: block;
	margin-bottom: 10px;
}
div.resultsearch > div > div{
	/* height: 180px; */
	min-height: 150px;
}
@media screen and (max-width: 767px) {
	.maincontent{
		padding: 2em 10px;
	}
	.titlepage{
		font-size: 1.5em;
	}
	.subtitlepage{
		font-size: 1.2em;
	}
	.maincontent .divform{
		padding-left: 0;
		padding-right: 0;
	}
	.maincontent .inputsearch{
		width: 60%;
	}
	.maincontent .submitsearch{
		width: 39%;
	}
}