body{
	padding: 0;
	margin: 0;
	font-family: cambria;
}
div.modal-content{
	box-shadow: none;
	border-bottom: none;
}
div.modal-body{
	max-height: 74vh;
	overflow: auto;
}
td.batasan{
	height: 5px;
}
div.batasan{
	border:1px solid #cacaca;
	border-left: none;
	border-bottom: none;
	border-right: none;
	margin: 1.5em 2.5em;
}
td{
	font-weight: bold;
}
td > label{
	width: 100%;
	font-weight: normal;
	font-size: 0.9em;
	margin-bottom: 0;
}
td > img{
	width: 70px;
	height: auto;
	float: left;
}
table.listproduct td,table.payment td{
	font-weight: normal;
}
div.spacetop{
	margin-top: 7px;
}
div.spacetop.payment{
	padding-left: 20px;
}
td.colorred{
	color: #ee2e2e;
}
@media screen and (max-width: 767px) {
}