body{
	padding: 0;
	margin: 0;
	font-family: cambria;
}
h3{
	margin: 1em 0;
}
div.panel.panel-primary{
	width: 100%;
	margin: 8px 0 0 0;
}
.panel-heading {
	padding: 10px 15px;
}
.panel-body {
    padding: 15px;
}
.panel-body table{
    width: 100%;
}
.panel-body img{
	margin-right: 5px;
	width: 70px;
	height: auto;
}
.panel-body img.imgcolor{
	width: 30px;
}
div.panel-heading label,div.panel-body label{
	width: 100%;
	font-weight: normal;
	font-size: 0.9em;
} 
.floatright{
	float: right;
}
i.fa.marginright{
	margin-right: 5px;
}
span.seedetail{
	cursor: pointer;
}
@media screen and (max-width: 767px) {
}