/* sort by */
select#sortby{
	border: 1px solid #EBEBEB;
	background-color: white;
	padding: 5px;	
}
/* //sort by */
/* Font family cambria */
div.hidefilter span, section.sky-form, h4.showhidefiltersection, h4 > a, h6{
	font-family: Cambria;
}
/* //Font family cambria */
div.container{
	width: 97%;
}
div.row.rowheader{
	padding: 1.5em 0 0 0;
	/* border: 1px solid #918f90;
	border-top: none;
	border-left: none;
	border-right: none; */ 
}
/* title category */
div.titlecategory > h4{
	font-family: Cambria;
	font-size: 1.8em;
	font-weight: 500;
}
/* //title category */

/* hide filter section */
div.hidefilter > i,div.hidefilter > span{
	cursor: pointer;
}
div.hidefilter > i{
	margin-right: 10px;
}
div.w_sidebar{
	margin-bottom: 15px;	
}
ul.filtercolor > li > i.fa.fa-check{
	float: right;
	margin-top: -15px;
	margin-right: 2px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
div.filcat{
	margin-left: -15px;
}
div.filcat div{
	margin-left: 15px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-ms-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
div.filcat div.active{
	max-height: 300px;
}
span.togcat{
	cursor: pointer;
}
span.togcat > i{
	float: right;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
	-ms-transition: transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}
span.togcat > i.active{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* //hide filter section */

/* paging section */
div.pagingsection{
	margin-bottom: 15px;
}
div.pagingsection > a{
	color: #000000;
	border: 1px solid #918f90;
	border-right: none;
	line-height: 25px;
	display: inline-block;
	font-size: 1em;
	padding: 0 14px;
}
div.pagingsection > a.fullborder {
	border: 1px solid #918f90;
}
div.pagingsection > a:hover{
	background-color: #b0b0b0;
	color: #000000;
}
div.pagingsection > a.active{
	color: #FFFFFF;
	background-color: #1a4071;
}
div.pagingsection > a.noborder{
	border: none;
	cursor: default;
}
div.pagingsection > a.noborder:hover{
	background-color: #FFFFFF;
	color: #000000;
}
/* //paging section */

/* label discount */
div.labeldiscount{
	display: inline-block;
	float: right;
}
div.labeldiscount > img{
	width: 50px;
	height: auto;
}
.discnumber{
	margin-top: -62px;
	color: #FFFFFF;
	font-size: 22px;
	/* margin-left: -12px; */
	margin-left: 7px;
}
h4.withlabeldisc,div.grid_1.withlabeldisc{
	width: 81%;
}
/* //label discount */

/* // product image */
div.content_box > a {
	display: block;
	border: 1px solid #000000;
}
/* // product image */

/* color type */
img.colortype{
	width: 20px;
	height: auto;
	margin-right: 3px;
	margin-bottom: 3px;
	display: inline-block;
	cursor: pointer;
	background-size: 100% 100%; 
	overflow: hidden;
}
/* //color type */

/* chevron up-down filter */
section.sky-form > h4{
	cursor: pointer;
}
section.sky-form > h4 > i{
	float: right;
}
i.fa.fa-chevron-down{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	
}
i.fa.fa-chevron-down.up{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform: rotate(180deg);	
}
div.row1.scroll-pane{
	-moz-transition: height 0.5s ease, padding 0.5s ease;
	-webkit-transition: height 0.5s ease, padding 0.5s ease;
	-o-transition: height 0.5s ease, padding 0.5s ease;
	transition: height 0.5s ease, padding 0.5s ease;
}
div.row1.scroll-pane.up{
	padding: 0;
	height: 0px;
}
div.w_content{
	padding-left: 0;
}
div.w_content > div.proditm{
	min-height: 50vh;
	padding-right: 0;
	margin-bottom: 15px;
}
/* //chevron up-down filter */
/* div error message */
div.container > div.rowErrMsg{
	height: 50vh;
}
div.container > div.rowErrMsg > div.errMsg{
	text-align: center;
	font-size: 2em;
	color: #555;
	margin-top: 20vh;
}
/* //div error message */
@media screen and (max-width: 767px) {
	div.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	div.w_content{
		padding-left: 0px;
		padding-right: 0px;
	}
	div.w_content > div{
		min-height: 41vh;
	}
	div.labeldiscount > img {
    	width: 35px;
	}
	.discnumber {
	    margin-top: -46px;
	    font-size: 17px;
	    margin-left: 5px;
	}
}