.margintop{
	margin: 3vh 0 0 0;
}
div.containerfoto{
	padding: 3em;
}
div.paddingfoto > img{
	background-repeat: no-repeat;
	background-size: 100% auto;
}
div.paddingfoto{
	border-radius: 7px;
	padding: 1.5em;
	border: 1px solid #d8d8d8;
}
.floatright{
	float: right;
}
div.profiledt{
	border-radius: 4px;
	padding: 4px;
}
div.profiledt:hover{
	background-color: #e5e5e5;
}
div.alert.alert-danger{
	margin-top: 40px;
}
input.profile.form-control{
	background-color: #FFFFFF;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
}
.panel{
	margin-bottom: 0px;
}
.pointer{
	cursor: pointer;
}
@media screen and (max-width: 767px) {

}