.progress { position:relative; width:100px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; display:none; float:left; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
