@media (min-width:320px) {
	.login-string-sm{
		display:block;
	}
	.login-string-lg{
		display:none;
	}
}
@media (min-width:480px) {
	.login-string-sm{
		display:none;
	}
	.login-string-lg{
		display:block;
	}
}