/* span label draft/aktif/pasif */
tr > td span.label{
	margin-right: 5px;
}
/* //span label draft/aktif/pasif */
/* form-group radio button */
div.form-group > div.radio{
	margin-top: 0;
}
/* //form-group radio button */
/* textarea wysihtml5 */
textarea.textarea.form-control{
	width: 100%;
	height: 200px;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	border: 1px solid #dddddd;
}
/* //textarea wysihtml5 */
#datalist tr td {
	height: 20px;
	padding: 3px;
	font-size: 15px;
	word-wrap: break-word;
}
#datalist tfoot tr th {
	font-size: 16px;
}
#datalist tr td {
	height: 20px;
	padding: 3px;
	font-size: 15px;
}

.sphide{
	display: none;
}
.divdaterange > i {
    position: absolute;
    bottom: 25px;
    right: 25px;
    top: auto;
    cursor: pointer;
}
td > a > i.fa {
	margin-right: 4px;
}
th, td {
	white-space: nowrap;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0;
	margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid transparent;
	background: none;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	border: 1px solid #DDD;
}
.pagination {
    margin: 10px 0px;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: 0;
}
/* untuk datatable */
div.box-body{
	overflow: auto;
}
table tbody td{
	white-space: normal;
}
/* color-picker */
div.colorpicker{
	z-index: 9000;
	position: fixed;	
}
/* separator */
div.separator{
	width: 100%;
	height: 1px;
	display: inline-block;
	border: 1px solid #bbbbbb;
	border-bottom: none;
	border-left: none;
	border-right: none;
}