html,body{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0f0f0f;
}
div#preloader{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	background-color: #ffffff;
	opacity: 1;
	-webkit-transition: opacity 1.2s ease-out;
	-moz-transition: opacity 1.2s ease-out;
	-o-transition: opacity 1.2s ease-out;
	transition: opacity 1.2s ease-out;
}
div#preloader.hide{
	opacity: 0;
}
div#preloader.hide.displaynone{
	display: none;
}
div#preloader > div#status{
	margin-top: 50vh;
	margin-left: 50vw;	
}
div#preloader > div#status > img{
	width: 64px;
	height: 64px;
	margin-top: -32px;
	margin-left: -32px;
}
div.content{
	width: 100%;
}
div.content > img{
	width: 100%;
	height: auto;
}
div.content > img.desktopimg{
	display: none;
}
div.content > img.mobileimg{
	display: block;
}
div.sosmed{
	margin-top: -40px;
	text-align: center;
}
div.sosmed > a{
	margin-left: 10px;
}
div.sosmed > a > i{
	margin-right: 4px;
}
div.footer{
	margin-top: 40px;
	text-align: center;
}
a:link, a:visited, a:active, a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
ul {
	list-style-type: none;
	padding-left: 0px;
	color: #636363;
}
ul > li {
	line-height: 31px;
}
ul > li > a:link, ul > li > a:visited{
	color: #b4b4b4;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	transition: color 1s ease-out;
}
ul > li > a:active, ul > li > a:hover{
	color: #ffffff;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	div.content > img.desktopimg{
		display: block;
	}
	div.content > img.mobileimg{
		display: none;
	}
	ul > li {
		display: inline-block;
	}
	ul > li::before {
		content: "•";
		padding-right: 15px;
		padding-left: 12px;
		color: #ffffff;
	}
	ul > li:nth-child(1)::before {
		content: none;
		padding-right: 0px;
	}
	div.sosmed{
		margin-top: -60px;
		font-size: 30px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 