div.container.topbottomspace{
	padding-top: 2em;
	padding-bottom: 2em;
}
div.optwarna{
	border: 1px solid #000000;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
table
/* //menu animation */
@media screen and (max-width: 767px) {
	
}
/* //header navigation */

/* swiper default (header running text)*/
.swiper-container {
	width: 100%;
	height: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 1em;
	background: #1a4071;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: auto;
	/* overflow: hidden; */
}
.swiper-slide.homepurp img{
	width: 100vw;
	height: auto;
}
.swiper-slide img{
	width: 100%;
	height: auto;
}
/* //swiper default (header running text) */